#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc > #backgroundBox {
  position: absolute;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc > #alignmentBox {
  position: relative;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Image_1 {
  position: absolute;
  width: 1041.9999999999998px;
  height: 552.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Content_grid_1 {
  position: absolute;
  width: 517.1253341674806px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .Cell_5 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .Cell_5 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 {
  width: 86.01220703125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 {
  width: 51.6943359375px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 {
  width: 92.54638671875px;
  min-height: 33.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_3 span#rtr-s-Text_3_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 {
  width: 24.99999999999999%;
  height: 100.0%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .Cell_8 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .Cell_8 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_1 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_2 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_3 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 {
  position: absolute;
  width: 144.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 {
  position: absolute;
  width: 143.99999999999955px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 {
  position: absolute;
  width: 144.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F7B6AD;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 {
  position: absolute;
  width: 144.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #F7B6AD;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 {
  position: absolute;
  width: 143.99999999999955px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_4 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_5 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_6 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_9 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_11 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_12 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_13 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_14 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Content_grid_2 {
  position: absolute;
  width: 517.1253341674806px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #2B4B82;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .Cell_13 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .Cell_13 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .Cell_13 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_13 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 {
  width: 86.01220703125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .Cell_14 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .Cell_14 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .Cell_14 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_14 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 {
  width: 51.6943359375px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #31356E;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .Cell_15 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .Cell_15 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .Cell_15 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_15 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 {
  width: 92.54638671875px;
  min-height: 33.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .verticalalign {
  vertical-align: middle;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #94DDDE;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .Cell_16 > *:first-child {
  margin-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .Cell_16 > *:last-child {
  margin-right: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .Cell_16 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Cell_16 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_15 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_16 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_17 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_18 {
  position: absolute;
  width: 59.0px;
  height: 46.0px;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_19 {
  position: absolute;
  width: 66.0px;
  height: 67.99999999999999px;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_7 {
  position: absolute;
  width: 59.0px;
  height: 46.0px;
  cursor: pointer;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc #s-Path_8 {
  position: absolute;
  width: 66.0px;
  height: 67.99999999999999px;
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dd4f6432-472d-4c14-93f3-1d4ac24a4dbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}