#s-5f031692-3af3-4991-9311-ac5533130ade > #backgroundBox {
  background-color: #EAB7D7;
  position: absolute;
}
#s-5f031692-3af3-4991-9311-ac5533130ade > #alignmentBox {
  position: relative;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Image_2 {
  position: absolute;
  width: 507.0px;
  height: 511.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 input::-moz-placeholder {
  color: #82888C;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 input:-moz-placeholder {
  color: #82888C;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 input:-ms-input-placeholder {
  color: #82888C;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 {
  position: absolute;
  width: 631.9999999999997px;
  height: 89.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 .valign {
  vertical-align: middle;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_4 {
  position: absolute;
  width: 27.38666666666677px;
  height: 25.711111111111112px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_1 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_2 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 {
  position: absolute;
  width: 632.0px;
  min-height: 410.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_3 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_97 {
  position: absolute;
  width: 360.4855926613418px;
  min-height: 54.82582210498049px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_97 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_97 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_97 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_97 span#rtr-s-Paragraph_97_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_94 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_94 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_94 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_94 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_94 span#rtr-s-Paragraph_94_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_61 {
  position: absolute;
  width: 27.56456925759062px;
  height: 23.14868044432501px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_91 {
  position: absolute;
  width: 360.4855926613418px;
  min-height: 54.82582210498015px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_91 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_91 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_91 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_91 span#rtr-s-Paragraph_91_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_88 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_88 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_88 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_88 span#rtr-s-Paragraph_88_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_60 {
  position: absolute;
  width: 27.56456925759062px;
  height: 23.14868044432501px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_85 {
  position: absolute;
  width: 360.4855926613418px;
  min-height: 54.82582210498032px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_85 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_85 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_85 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_85 span#rtr-s-Paragraph_85_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_82 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_82 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_82 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_82 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Paragraph_82 span#rtr-s-Paragraph_82_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_59 {
  position: absolute;
  width: 27.56456925759062px;
  height: 23.148680444324896px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_7 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_8 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_9 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Content_grid_1 {
  position: absolute;
  width: 517.1253341674806px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #2B4B82;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .Cell_5 > *:first-child {
  margin-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .Cell_5 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 {
  width: 86.01220703125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 {
  width: 51.6943359375px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #31356E;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 {
  width: 92.54638671875px;
  min-height: 33.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #94DDDE;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .Cell_8 > *:first-child {
  margin-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .Cell_8 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_10 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_11 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_12 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_5 {
  position: absolute;
  width: 59.0px;
  height: 46.0px;
  cursor: pointer;
}
#s-5f031692-3af3-4991-9311-ac5533130ade #s-Path_6 {
  position: absolute;
  width: 66.0px;
  height: 67.99999999999999px;
  cursor: pointer;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5f031692-3af3-4991-9311-ac5533130ade > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}