#s-a3848334-1c09-4b63-914a-09fde30b6cc2 > #backgroundBox {
  background-color: #EAB7D7;
  position: absolute;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 > #alignmentBox {
  position: relative;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 {
  position: absolute;
  width: 317.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 {
  position: absolute;
  width: 649.187332916259px;
  min-height: 69.38235777399666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 {
  position: absolute;
  width: 649.1873329162592px;
  min-height: 69.38235777399666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 {
  position: absolute;
  width: 649.1873329162597px;
  min-height: 69.38235777399666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_1 {
  position: absolute;
  width: 66.0px;
  height: 67.99999999999999px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_2 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_3 {
  position: absolute;
  width: 20.0px;
  height: 19.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_4 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_5 {
  position: absolute;
  width: 59.0px;
  height: 46.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_6 {
  position: absolute;
  width: 66.0px;
  height: 67.99999999999999px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 {
  position: absolute;
  width: 317.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_7 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_8 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_9 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_11 {
  position: absolute;
  width: 18.0px;
  height: 20.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_12 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Content_grid_2 {
  position: absolute;
  width: 129.2813335418703px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .verticalalign {
  vertical-align: middle;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 {
  width: 99.99999999999983%;
  height: 100.0%;
  cursor: pointer;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #F4115E;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .Cell_21 > *:first-child {
  margin-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .Cell_21 > *:last-child {
  margin-right: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .Cell_21 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_21 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 {
  width: 86.01220703125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Path_13 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Content_grid_3 {
  position: absolute;
  width: 517.1253341674806px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .verticalalign {
  vertical-align: middle;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #2B4B82;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .Cell_22 > *:first-child {
  margin-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .Cell_22 > *:last-child {
  margin-right: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .Cell_22 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_22 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 {
  width: 86.01220703125px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .verticalalign {
  vertical-align: middle;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .Cell_23 > *:first-child {
  margin-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .Cell_23 > *:last-child {
  margin-right: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .Cell_23 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_23 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 {
  width: 51.6943359375px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .verticalalign {
  vertical-align: middle;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #31356E;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .Cell_24 > *:first-child {
  margin-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .Cell_24 > *:last-child {
  margin-right: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .Cell_24 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_24 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 {
  width: 92.54638671875px;
  min-height: 33.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .verticalalign {
  vertical-align: middle;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 {
  width: 24.99999999999999%;
  height: 100.0%;
  cursor: pointer;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #94DDDE;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .Cell_25 > *:first-child {
  margin-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .Cell_25 > *:last-child {
  margin-right: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .Cell_25 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Cell_25 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a3848334-1c09-4b63-914a-09fde30b6cc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}