#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 > #backgroundBox {
  background-color: #EAB7D7;
  position: absolute;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 > #alignmentBox {
  position: relative;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 input::-moz-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 input:-moz-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 input:-ms-input-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 {
  position: absolute;
  width: 513.0000000000005px;
  height: 47.79224342408543px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 .valign {
  vertical-align: middle;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Path_94 {
  position: absolute;
  width: 20.0px;
  height: 19.999999999999773px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_72 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_72 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_72 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_72 span {
  color: #B3261E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_72 span#rtr-s-Paragraph_72_0 {
  color: #B3261E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_70 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_70 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_70 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_70 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_70 span#rtr-s-Paragraph_70_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_68 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_68 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_68 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_68 span {
  color: #B3261E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_68 span#rtr-s-Paragraph_68_0 {
  color: #B3261E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 input::-moz-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 input:-moz-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 input:-ms-input-placeholder {
  color: #82888C;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 {
  position: absolute;
  width: 512.9999999999999px;
  height: 46.32258754141344px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 .valign {
  vertical-align: middle;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Path_93 {
  position: absolute;
  width: 20.000000000000227px;
  height: 20.0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_67 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_67 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_67 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_67 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_67 span#rtr-s-Paragraph_67_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 {
  position: absolute;
  width: 512.9999999999998px;
  min-height: 56.77102911858174px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fcb4afe7-87fa-4fdf-b709-d520e26a0564 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}