#s-1d7c7504-1309-4230-abe3-f5469e23f68d > #backgroundBox {
  position: absolute;
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d > #alignmentBox {
  position: relative;
  max-width: 1032.0px;
  max-height: 1376.0px;
  width: 100%;
  height: 100%;
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d #s-Image_1 {
  position: absolute;
  width: 1031.9999999999995px;
  height: 1375.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d #s-Image_2 {
  position: absolute;
  width: 134.0px;
  height: 132.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d #s-Hotspot_1 {
  position: absolute;
  width: 117.99999999999997px;
  height: 105.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d #s-Hotspot_2 {
  position: absolute;
  width: 574.0px;
  height: 104.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1d7c7504-1309-4230-abe3-f5469e23f68d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}