#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 > #backgroundBox {
  position: absolute;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 > #alignmentBox {
  position: relative;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_9 {
  position: absolute;
  width: 425.49999999999915px;
  height: 767.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_8 {
  position: absolute;
  width: 425.49999999999915px;
  height: 767.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_1 {
  position: absolute;
  width: 515.0px;
  height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_2 {
  position: absolute;
  width: 185.0px;
  height: 98.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_3 {
  position: absolute;
  width: 164.0px;
  height: 158.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_4 {
  position: absolute;
  width: 515.0000000000005px;
  height: 158.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Hotspot_1 {
  position: absolute;
  width: 100.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_5 {
  position: absolute;
  width: 278.0px;
  height: 316.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Hotspot_2 {
  position: absolute;
  width: 278.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Hotspot_3 {
  position: absolute;
  width: 368.0px;
  height: 88.00000000000009px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Hotspot_4 {
  position: absolute;
  width: 157.0px;
  height: 79.99999999999955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_6 {
  position: absolute;
  width: 207.0px;
  height: 77.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 #s-Image_7 {
  position: absolute;
  width: 515.0000000000005px;
  height: 158.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a927dce7-97fc-461d-ad1f-dc5361df1a65 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}